<nav class="flex justify-end p-4">
  <ul class="flex gap-4">
    <li>
      <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}/blog`}>Blog</a>
    </li>
  </ul>
</nav>